# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID=
MONGO_URI=
OWNER_NUMER=
THUMB_IMAGE = "https://i.ibb.co/PFdnLRq/replicate-prediction-b4ajl4bbgqg534z3xurddwigvu.png"
port = 5000
email = "madammaskmd@gmail.com"
AUTO_BIO=false
global_url = "tiktok.com"
OWNER_NAME = "DULENS-PROJECTS"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 92
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "false"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th" \n\n\n*MADAM MASK MD 🤤🤍*
THEME= SECKTOR
WORKTYPE = public
PACK_INFO = "𝑫𝑼𝑳𝑬𝑵𝑺 𝑴𝑫 𝑩𝑶𝑻"
ANTILINK_VALUES = "chat.whatsapp.com"
